[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[dev-packages]
mypy = "*"
pytest = "*"
black = "==19.3b0"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[packages]
graphene = "==2.1.8"
graphql-core = "==2.2"
flask-graphql = "*"
requests = "*"
aniso8601 = "==3.0.2"
regex = "*"
python-dateutil = "*"
logzero = "*"
lazy-import = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
flask_cors = "*"
graphene_sqlalchemy = "*"
